.Latest_Trailers {

    width: 100%;
    height: max-content;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}

.Latest_Trailers_Box {
    height: max-content;
    width: 90%;
    background-position: 20% center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-origin: border-box !important;
    border-radius: 12px;
    padding: 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: 1s all !important;
    padding-bottom: 60px;
}

.Latest_Trailers_Box h4 {
    color: #F0F0F0;
    padding-right: 24px;
    padding-bottom: 7px;
    font-weight: 600;
}

.Latest_Trailers_Box img {
    width: 100%;
    padding-right: 15px;
    height: max-content;
    border-radius: 9px;


}

.Last_Trailer_Item {
    position: relative;
}

.Last_Trailer_Item svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 40px;
    color: #db3163;
    cursor: pointer;
    transition: 0.5s all;

}

.Last_Trailer_Item svg:hover {
    font-size: 50px;
    color: red;
}