.Footer{
    height: max-content;
    padding-bottom: 30px;
    width: 100%;
    background-color: #313a3f;
    color: #FFF;
    
}
.Footer .Footer-Item{
 

}
.Footer .Footer-Item ul{
    /* text-align: right; */
    /* padding-left: 10px; */
    color: #eeee;
    padding-top: 0px;
    text-align: right;
    list-style: none;
    margin-right: -38px;
}
.Footer .Footer-Item ul li{
    color: #eeee;
    padding-top: 15px;
    text-align: right;
}