.BoxOffice {
    margin: 25px auto;
    height: max-content;
    width: 85%;
    background-color: rgb(35, 33, 33);
    color: #FFF;
    border-radius: 10px;
    padding: 8px;
}


.Item-Box-Office {
    margin-top: 10px;
    height: max-content;
    width: 100%;
    background-color: #020202;
    padding: 10px;
    /* border: 1px solid #ccc; */
    transition: 1s all;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}


.Item-Box-Office:hover .dd-lx {
    opacity: 0;
}

.Item-Box-Office:hover {
    background: url('/public/img/download-banner-1100X350.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;



}

.Item-Box-Office img {
    max-width: 60px;
    border-radius: 10px;
}